# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Angular build
dist/
.angular/

# Environment files
*.env

# .NET
UrbanNest/JsonWebToken/bin/
UrbanNest/JsonWebToken/obj/
UrbanNest/JsonWebToken/secure.json
UrbanNest/JsonWebToken/UrbanNest.csproj.user
*.user
*.suo
**/.vs/



# VS Code
.vscode/

# SQL
*.mdf
*.ldf

# Package files
package-lock.json
