# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Angular build
dist/
.angular/

# Environment files
*.env

# .NET
bin/
obj/
appsettings.json
secure.json
UrbanNest/JsonWebToken/secure.json
*.user
*.suo
*.vs/



# VS Code
.vscode/

# SQL
*.mdf
*.ldf

# Package files
package-lock.json
